{% extends 'base.html' %}
{% load bootstrap4 %}
{%block content %}

<div class="container mt-4">
 <div class="row">
     <div class="col-md-6 offset-md-3">
        <div class="card text-center border-primary">
            <div class="card-header bg-primary text-white">
               <h1>Ask Anything</h1>
               <hr>
               <h4>Registration Form</h4>
            </div>
    
            <div class="card-body">
                <form action="" class="form" method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <input type="submit" value="Registration" class="btn-block btn btn-info">
                </form>
            </div>
            <div class="card-footer bg-secondary">
                <p>Already Have and account! <a href="{% url 'login' %}">Login Here</a></p>
            </div>
        </div>
     </div>
 </div>
</div>

{% endblock %}